* {
    box-sizing: border-box;
    font-family: 'Lexend Deca', sans-serif;
}

html,
body {
    height: 100%;
    background: linear-gradient(to right, #08AEEA, #2AF598);
    min-height: 100vh;
}



a:hover{
    color: white;
}

/* ---------------- LOGIN ------------------------------ */

h1 {
    font-family: 'Lexend Deca', sans-serif;
}

.form-signin {

    width: 90%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}



.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pass {
    margin-bottom: 10px;
}

.email {
    margin-bottom: -1px;
}

.recupera-password,
.logo a {
    float: right;
    text-decoration: none;
    color: rgb(46, 231, 9);
    margin-top: -20px;
    margin-bottom: 20px;
    transition: 0.4s;
}

.recupera-password:hover,
.logo a:hover {
    text-decoration: none;
    color: #f5f5f5;
}




.btn-password {
    margin-top: 20px;
}

.logo a {
    float: none;
}

.btn-ingreso {
    background: #4831d4;
    color: #ccf381;
}

.btn-ingreso:hover{
    background: #0c6251;
}


#btn-registro {
    color: #ccf381;
    margin-top: 10px;
    width: 100%;
}

#btn-registro:hover{
    background: #FFCD48;
}

/* -------------------------------------- */

/* ---------------- MEDIA ------------------- */


/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .form-signin{
        margin-top: 0px;
    }
}

/*Small devices (landscape phones, less than 768px)*/
@media (max-width: 499px) {
    .form-signin{
        margin-top: 10%;
    }
    .footer{
        visibility: hidden;
    }
}

/*Medium devices (tablets, less than 992px)*/
@media (min-width: 991.98px) {
    .form-signin{
        margin-top: 0%;
    }
}

/*Large devices (desktops, less than 1200px)*/
@media (min-width: 1199.98px) {
    .form-signin{
        margin-top: 5%;
    }
}

/* --------------------------------------------- */

/* ------------------------- Registros ----------------------*/
.card{
    background: rgba(255, 255, 255, 0.39);
}

table{
	text-align: center;
}

#reg-cliente{
    margin-top: 20%;
}
/* ----------------------------------------------------------*/

/* -------------------------- Nav ----------------------------*/
#nav{
    margin-top: 50px;
    border-radius: 20px;

}

/* -------------------------------------------------------------*/

/* ---------------------------- Footer -------------------------*/
.footer {

    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #ffd387;
    position: fixed;
    bottom: 0;

}

#lic{
    float: right;
}

/* ---------------------------- Textarea-------------------------*/
textarea {
    width: 300px;
    height: 70px;
}
/* ------------------------------------------------------------- */

#inicio-admin{
    margin-top: 70px;
}

.text-muted{
    font-size: 16px;
}

.form{
    margin-top: 70px;
}

.result{
    background: #1a252f;
}

.w-75 {
    width: 95% !important;
}

.servicios{
    color: #7432e2;
}

.menu{
    color: #1a252f;
}
.menu:hover{
    color: #f53f40;
}

td img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;

}

/*
*
* ==========================================
* UPLOAD IMAGE
* ==========================================
*
*/
#upload {
    opacity: 0;
}

#upload-label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
}

.image-area {
    border: 2px dashed rgba(255, 255, 255, 0.7);
    padding: 1rem;
    position: relative;
}

.image-area::before {
    content: 'Uploaded image result';
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    z-index: 1;
}

.image-area img {
    z-index: 2;
    position: relative;
}


label{
    float: left;
}

.card{
    margin-bottom: 20px;
}

